.progress-bar{
    -fx-background-color: #303030;
}

.label{
    -fx-text-fill: white;
}

.progress-bar > .track{
    -fx-background-color: #303030;
}

.progress-bar > .bar{
    -fx-background-color: aqua;
}

.progress-indicator{
    -fx-progress-color: #208080;
}

.progress-indicator .indicator{
    -fx-padding: 0;
    -fx-background-color: #2c2c48;
}

.progress-indicator .percentage{
    -fx-fill: none;
}

.progress-indicator .tick{
    -fx-background-color: none;
}

.text-field{
    -fx-background-color: #303030;
    -fx-text-fill: white;
}

.launch-bar{
    -fx-background-color: #252540;
    -fx-background-radius: 0 15px 15px 0;
}

.progress-indicator{
    -fx-padding: 0;
}

.play-button{
    -fx-background-radius: 50%;
    -fx-background-color: #383852;
    -fx-font-size: 18pt;
}

.ench-button{
    -fx-font-size: 15pt;
    -fx-background-radius: 50%;
    -fx-background-color: #2a2a30;
}

#lvProfiles .scroll-bar:horizontal{
    -fx-opacity: 0;
}