.all{
    -fx-background-color: #202020;
}

.list-view{
    -fx-background-color: #323232!important;
    -fx-background-radius: 5px!important;
}

    .list-view .list-cell{
        -fx-padding: 10;
    }

.text-field .context-menu{
    -fx-opacity: 0;
}
