.ver-label{
    -fx-font-size: 20pt;
    -fx-text-fill: wheat;
    -fx-background-color: #303540;
    -fx-background-radius: 10px;
}
.all{
    -fx-background-color: #323232;
    -fx-background-radius: 10px;
}

.name-box{
    -fx-font-size: 10pt!important;
    -fx-border-color: teal!important;
}

.sel-box{
    -fx-background-color: #353535;
}

.transparent{
    -fx-background-color: none;
}