@font-face {
    font-family: 'Rubik';
    src: url(../../fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
    font-family: 'Rubik';
    font-weight: bold;
    src: url(../../fonts/Rubik/Rubik-Bold.ttf);
}

*{
    -tab-fill: #151515aa;

    -dock-default-fill: #202020;

    -control-fill: #303033;
    -control-focused-border-fill: #5151bd;
    -control-fill-bluish: #1042497F;
    -control-fill-secondary: #232325aa;
    -dialog-overlay-fill: #232325dd;
    -control-popup-selected-fill: #6b93c8;
    -list-selected-fill: #282828ef;
    -control-popup-hover-fill: #50637c;
    -control-popup-fill: #333840dd; /*#353538dd*/
    -radio-fill: #262628;
    -radio-checked-fill: #3e5160; /*#58306a*/

    -button-fill: #333840;
    -list-background: #282828;
    -pane-fill: #282830;

    -scroll-thumb-fill: #264545AA;
    -slider-thumb-fill: #008080;
    -progress-track-fill: transparent;
    -progress-bar-fill: #007777;

    -toggle-area-fill: #232325aa;
    -toggle-area-selected-fill: #242426dd;
    -toggle-thumb-fill: #3e3e50;

    -fx-focused-mark-color: transparent;
    
    -text-fill: #ffffff;
    -fx-font-family: 'Rubik';

    -shape-play: 'm0 0-.11-16.51c0-1.06 1.15-1.7 2.05-1.15l13.32 8.29c.84.52.84 1.75 0 2.27L2.05 1.12C1.16 1.67.01 1.04-0-.01Z';
    -shape-cancel: 'm16 21.26-10.36 9.98c-1.05 1.01-1.72 1.02-2.77 0l-2.08-2c-1.03-.98-1.09-1.62 0-2.67L11.76 16.01.79 5.44c-1.03-1-1.04-1.67 0-2.68l2.08-2c1.08-1.04 1.74-.99 2.77 0L16 10.74 26.36.76c1.03-.99 1.7-1.04 2.77 0l2.08 2c1.05 1.01 1.03 1.68 0 2.67L20.24 15.99l10.97 10.56c1.09 1.05 1.02 1.69 0 2.67l-2.08 2c-1.06 1.02-1.73 1.01-2.77 0L16 21.24Z';
    -shape-done: 'M11.04 22.61c-.73 0-1.46-.27-2.04-.8L.96 14.37c-1.22-1.12-1.29-3.02-.17-4.24 1.12-1.22 3.02-1.29 4.24-.17l6.01 5.55L26.96.8c1.22-1.13 3.11-1.05 4.24.17s1.05 3.11-.17 4.24L13.08 21.81c-.57.53-1.31.8-2.04.8Z';
    -shape-check: 'M29.59 5.8c1.4.49 2.41 1.83 2.41 3.4v16c0 3.76-3.04 6.8-6.8 6.8H9.2c-1.57 0-2.9-1-3.4-2.41h3.36s16.04 0 16.04 0c2.43 0 4.4-1.97 4.4-4.4V9.12s0-3.32 0-3.32ZM24.39 0c1.99 0 3.6 1.61 3.6 3.6v20.79c0 1.99-1.61 3.6-3.6 3.6H3.6c-1.99 0-3.6-1.61-3.6-3.6V3.6C0 1.61 1.61 0 3.6 0h20.79Zm0 2.4H3.6c-.66 0-1.2.54-1.2 1.2v20.79c0 .66.54 1.2 1.2 1.2h20.79c.66 0 1.2-.54 1.2-1.2V3.6c0-.66-.54-1.2-1.2-1.2ZM12.13 14.97l6.22-6.22c.47-.47 1.23-.47 1.7 0 .43.43.46 1.09.12 1.56l-.12.13-7.2 7.2c-.47.47-1.23.46-1.69 0l-.12-.14-2.4-3.2c-.4-.53-.29-1.28.24-1.68.48-.36 1.15-.31 1.56.11l.12.13 1.57 2.09 6.22-6.22-6.22 6.22Z';
    -shape-uncheck: 'M29.59 5.8c1.4.49 2.41 1.83 2.41 3.4v16c0 3.76-3.04 6.8-6.8 6.8H9.2c-1.57 0-2.9-1-3.4-2.41h3.36s16.04 0 16.04 0c2.43 0 4.4-1.97 4.4-4.4V9.12s0-3.32 0-3.32ZM24.39 0c1.99 0 3.6 1.61 3.6 3.6v20.79c0 1.99-1.61 3.6-3.6 3.6H3.6c-1.99 0-3.6-1.61-3.6-3.6V3.6C0 1.61 1.61 0 3.6 0h20.79Zm0 2.4H3.6c-.66 0-1.2.54-1.2 1.2v20.79c0 .66.54 1.2 1.2 1.2h20.79c.66 0 1.2-.54 1.2-1.2V3.6c0-.66-.54-1.2-1.2-1.2Z';
    -shape-delete: 'M22.23 12.84c.28 0 .56-.11.77-.32.42-.43.42-1.12 0-1.54L20.45 8.43 23 5.88c.42-.43.42-1.12 0-1.54-.43-.42-1.12-.42-1.54 0L18.91 6.89 16.36 4.34c-.43-.42-1.12-.42-1.54 0-.42.43-.42 1.12 0 1.54l2.55 2.55-2.55 2.55c-.42.43-.43 1.12 0 1.54s1.12.42 1.54 0l2.55-2.55 2.55 2.55c.21.21.49.32.77.32ZM4.09 10.01c-.77-.64-1.19-.99-1.29-1.24-.09-.21-.09-.44 0-.66.1-.25.52-.6 1.29-1.24L9 2.77c.5-.42.77-.64.99-.75.19-.09.41-.16.64-.2.26-.05.71-.05 1.52-.05h13.1c1.55 0 2.49 0 2.91.14.38.13.68.32.87.56.22.27.22.87.22 1.87v8.2c0 1 0 1.6-.22 1.87-.19.24-.49.44-.86.56-.43.14-1.36.14-2.91.14H12.16c-.81 0-1.26 0-1.52-.05-.23-.04-.45-.11-.64-.2-.21-.1-.46-.3-.99-.75L4.1 10.01Zm21.19 6.87c2.02 0 3.14 0 4.15-.33.89-.29 1.6-.75 2.06-1.33.51-.65.51-1.37.51-2.68V4.34c0-1.31 0-2.03-.52-2.68-.45-.58-1.17-1.04-2.06-1.33C28.41-0 27.3-0 25.27-0H12.17c-1.06-0-1.64-0-2.27.11-.56.1-1.08.27-1.54.49-.52.25-.87.55-1.52 1.09L1.93 5.79C.95 6.61.4 7.06.16 7.65c-.22.52-.22 1.06 0 1.58.25.59.79 1.04 1.77 1.86l4.91 4.1c.64.54 1 .84 1.52 1.09.46.22.98.39 1.54.49.63.11 1.21.11 2.27.11h13.1Z';
    -shape-group: 'M16 20.62c.76 0 1.37-.61 1.37-1.37v-3.5h3.5c.76 0 1.37-.61 1.37-1.37s-.61-1.37-1.37-1.37h-3.5V9.51c0-.76-.61-1.37-1.37-1.37s-1.37.61-1.37 1.37v3.5h-3.5c-.76 0-1.37.61-1.37 1.37s.61 1.37 1.37 1.37h3.5v3.5c0 .76.61 1.37 1.37 1.37ZM6.57 2.75h5.65c.67 0 1.03 0 1.25.05.19.05.37.13.54.23.19.11.45.37.92.84l.2.2s0 0 0 0c.62.61.96.95 1.43 1.24.41.25.86.44 1.33.55.53.13 1.02.13 1.89.13h5.65c1.49 0 2.4 0 2.8.2.35.18.64.46.82.82.2.4.2 1.3.2 2.8v9.1c0 1.49 0 2.4-.21 2.8-.18.35-.46.64-.82.82-.4.21-1.3.21-2.8.21H6.57c-1.49 0-2.4 0-2.8-.21-.35-.18-.64-.46-.82-.82-.2-.4-.2-1.3-.2-2.8V6.56c0-1.49 0-2.4.2-2.8.18-.35.46-.64.82-.82.4-.2 1.3-.2 2.8-.2ZM25.44 25.47c1.97 0 3.06 0 4.05-.5.88-.45 1.57-1.14 2.02-2.02.5-.99.5-2.08.5-4.05V9.8c0-1.98 0-3.06-.5-4.05-.45-.87-1.14-1.57-2.02-2.02-.99-.5-2.08-.5-4.05-.5H19.79c-.67 0-1.03 0-1.25-.05-.19-.04-.37-.12-.54-.22-.19-.11-.45-.37-.92-.84l-.2-.2c-.62-.61-.96-.95-1.43-1.24-.42-.25-.87-.44-1.34-.55C13.57 0 13.09 0 12.22 0H6.57C4.6 0 3.51 0 2.52.5 1.65.95.95 1.65.5 2.52 0 3.51 0 4.6 0 6.57V18.93c0 1.97 0 3.06.5 4.05.45.88 1.14 1.57 2.02 2.02.99.5 2.08.5 4.05.5H25.43Z';
    -shape-export: 'M17.46 15.91c-.35 0-.7-.13-.97-.4-.54-.54-.54-1.4 0-1.94l12-12c.54-.54 1.4-.54 1.94 0s.54 1.4 0 1.94l-12 11.99c-.27.27-.62.4-.97.4ZM30.63 9.76c-.76 0-1.37-.61-1.37-1.37V2.74h-5.65c-.76 0-1.37-.61-1.37-1.37S22.85 0 23.61 0h7.02C31.39 0 32 .61 32 1.37v7.02c0 .76-.61 1.37-1.37 1.37ZM20.39 32h-8.78C3.58 32 0 28.42 0 20.39v-8.78C0 3.58 3.58 0 11.61 0h2.93c.76 0 1.37.61 1.37 1.37s-.61 1.37-1.37 1.37h-2.93c-6.55 0-8.87 2.32-8.87 8.87v8.78c0 6.55 2.32 8.87 8.87 8.87h8.78c6.55 0 8.87-2.32 8.87-8.87v-2.93c0-.76.61-1.37 1.37-1.37S32 16.7 32 17.46v2.93C32 28.42 28.42 32 20.39 32Z';
    -shape-remove: 'M16 32C7.18 32 0 24.82 0 16S7.18 0 16 0s16 7.18 16 16-7.18 16-16 16ZM16 2.74C8.69 2.74 2.74 8.69 2.74 16S8.69 29.26 16 29.26 29.26 23.31 29.26 16 23.31 2.74 16 2.74Zm6.5 14.63h-13c-.76 0-1.37-.61-1.37-1.37s.61-1.37 1.37-1.37h13c.76 0 1.37.61 1.37 1.37s-.61 1.37-1.37 1.37Z';
    -shape-heart: 'M0 9.36C0 17.14 6.43 21.29 11.14 25c1.66 1.31 3.26 2.54 4.86 2.54s3.2-1.23 4.86-2.54C25.57 21.29 32 17.14 32 9.36S23.2-3.94 16 3.55C8.8-3.94 0 1.58 0 9.36Z';
    -shape-update: 'M5.49 16c0-5.8 4.72-10.5 10.52-10.5 2.74 0 5.37 1.08 7.33 2.99H19c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5h7.63c.78-.06 1.38-.72 1.38-1.5V2.49c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v3.48C19.45 1 10.9 1.47 5.93 7.03 3.72 9.5 2.5 12.69 2.49 16c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5Zm22.52-1.5c-.83 0-1.5.67-1.5 1.5 0 5.8-4.72 10.5-10.52 10.5-2.74 0-5.37-1.08-7.33-2.99H13c.83 0 1.5-.67 1.5-1.5s-.67-1.5-1.5-1.5H5.37c-.78.06-1.38.72-1.38 1.5v7.51c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5v-3.48c5.56 4.97 14.1 4.5 19.08-1.06 2.21-2.47 3.43-5.66 3.44-8.97 0-.83-.67-1.5-1.5-1.5Z';
}

.root{
    -fx-background-color: transparent;
}

/* * * * * * * * * * * * * * * *

    Contextful Controls

* * * * * * * * * * * * * * * */

.searchable-combo-box .combo-box-popup .scroll-bar:vertical{
    -fx-padding: 0 -8px 0 12px;
}

.combo-box,
.ccombo{
    -fx-background-color: -control-fill;
    -fx-font-size: 14pt!important;
}

.combo-box .list-cell,
.ccombo .list-cell{
    -fx-border-width: 0;
}

.combo-box-popup .list-cell:filled,
.ccombo-list .list-cell:filled{
    -fx-padding: 14px 20px!important;
    -fx-font-size: 14pt!important;
}

.context-menu .menu-item:focused,
.combo-box-popup .list-cell:filled:focused {
    -fx-background-color: transparent;
}

.context-menu .menu-item:hover,
.combo-box-popup .list-cell:filled:hover,
.ccombo-list .list-cell:filled:hover{
    -fx-background-color: -control-popup-hover-fill;
}

/*noinspection CssInvalidPseudoSelector*/
.context-menu .menu-item:checked,
.combo-box-popup .list-cell:filled:selected,
.ccombo-list .list-cell:filled:selected {
    -fx-background-color: -control-popup-selected-fill;
}

.combo-box .text-input,
.ccombo .text-input{
    -fx-border-width: 0;
    -fx-text-fill: -text-fill;
}

.context-menu,
.combo-box-popup .list-view,
.ccombo-list {
    -fx-padding: 8px 16px 8px 8px;
}

.context-menu{
    -fx-background-color: -control-popup-fill;
    -fx-background-radius: 8px;
}

.context-menu .radio{
    -fx-opacity: 0;
}

.context-menu .menu-item,
.combo-box-popup .list-cell:filled,
.ccombo-list .list-cell:filled {
    -fx-background-radius: 8px;
    -fx-padding: 14px 4px 14px -4px;
    -fx-background-insets: 4px 0;
}

.cmenu{
    -fx-min-width: 120px;
    -fx-background-color: -control-popup-fill;
    -fx-background-radius: 16px;
    -fx-padding: 4px;
}

.cmenu .cmenu-item{
    -fx-background-color:transparent;
    -fx-font-size: 16pt;
    -fx-pref-height: 50px;
    -fx-padding: 4px 30px;
}

.combo-box-search:focused{
    -fx-border-width: 1px!important;
    -fx-border-style: solid!important;
}

.combo-box-popup .list-view,
.ccombo-list {
    -fx-background-color: -control-popup-fill!important;
    -fx-effect: none;
    -fx-vgap: 4px;
    -fx-background-radius: 8px;
}

/* * * * * * * * * * * * * * * *

    List Controls

* * * * * * * * * * * * * * * */


.cnav .cnav-button{
    -fx-font-size: 13pt;
    -fx-background-color: transparent;
    -enable-transparent-animation: true;
}

.tab-pane *.pane{
    -fx-background-color: transparent;
}

.scroll-pane .corner{
    -fx-background-color: transparent!important;
}

.list-view{
    -fx-background-color: -list-background;
    -fx-background-radius: 10px;
    -fx-font-size: 12pt;
}

.list-view .list-cell:hover{
    -fx-opacity: 0.9;
}

.list-cell{
    -fx-background-color: none;
    -fx-text-fill: -text-fill;
}

.scroll-pane{
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar{
    -fx-background-color: transparent;
}

.scroll-bar:vertical{
    -fx-block-increment: 100!important;
    -fx-unit-increment: 100!important;
    -fx-padding: 0 0 0 12px;
}

.scroll-bar .thumb{
    -fx-background-color: -scroll-thumb-fill;
    -fx-pref-width: 4px!important;
    -fx-max-width: 4px;
}

.scroll-bar .decrement-button, .scroll-bar .increment-button{
    -fx-background-color: transparent;
}

/* * * * * * * * * * * * * * * *

    Controls

* * * * * * * * * * * * * * * */

.cdialog .dialog-content{
    -fx-background-color: -dialog-overlay-fill;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
    -fx-padding: 10px;
}

.dialog-pane .graphic-container {
    -fx-padding: 0; /* 10px 0px 0px 10px */
}

.dialog-pane{

}

.scroll-pane > .viewport{
    -fx-background-color: transparent;
}

.text-area{
    -fx-font-size: 13pt;
    -fx-wrap-text: true;
    -fx-background-color: transparent;
    -fx-text-fill: -text-fill;
}
.text-area *{
    -fx-background-color: transparent!important;
    -fx-cursor: normal;
}

.label{
    -fx-text-fill: -text-fill;
    -fx-font-size: 13pt;
}

.property-key{
    -fx-font-size: 16pt;
}

.radio-button{
    -fx-text-fill: -text-fill;
}

.radio-button .radio, .check-box .box{
    -fx-background-color: -radio-fill;
}

.radio-button:selected .dot/*, .check-box:selected .mark*/{
    -fx-background-color: -radio-checked-fill;
}

.check-box:selected .mark{
    -fx-shape: "M56.084,189.137c-1.735,0.897-3.807,1.012-5.891-1.071L2.651,139.517 c-4.204-4.291-3.225-9.943,1.648-13.462c6.228-4.498,14.555-11.83,21.582-22.55c3.291-5.026,7.995-5.363,11.248-0.315 l11.727,18.205c3.258,5.053,7.006,11.389,9.018,10.677c0.816-0.288,1.806-0.995,2.986-2.393L156.169,9.877 c3.742-4.699,9.023-4.194,11.803,1.131l27.054,51.894c2.779,5.325,1.235,12.695-3.448,16.459L69.1,177.786 C64.422,181.55,59.272,187.5,56.084,189.137z";
    -fx-background-color: -text-fill;
}

.check-box:selected .box{
    -fx-background-color: -radio-checked-fill;
}

.slider{
    -fx-font-size: 13pt;
}

.slider .track{
    -fx-background-color: -control-fill;
}

.slider .thumb{
    -fx-background-color: -slider-thumb-fill;
}

.slider .axis {
    -fx-tick-label-fill: -text-fill;
}

.cbutton{
    -fx-background-color: -button-fill;
    -fx-background-radius: 8px;
    -fx-padding: 10px 16px;
}

.cshapeful-button {
    -shape-width: 16px;
    -shape-height: 16px;
    -shape-fill: -text-fill;
}

.text-field .context-menu{
    -fx-opacity: 0;
}

.selection-menu{
    -fx-background-color: -control-fill-bluish;
    -fx-background-radius: 8px;
}

.check-box{
    -fx-text-fill: -text-fill;
    -fx-font-size: 13pt;
}

.spinner{
    -fx-background-color: transparent;

}

.combo-box,
.searchable-combo-box,
.ccombo,
.field,
.text-field,
.choice-box,
.spinner{
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-background-color: -control-fill!important;
    -fx-border-color: transparent;
}

/*noinspection CssInvalidPseudoSelector*/
.combo-box:focused,
.combo-box-search:focused,
.ccombo:focused .text-field,
.field:focused,
.text-field:focused,
.choice-box:focused,
.ccombo:opened,
.spinner:focused{
    -fx-border-color: -control-focused-border-fill!important;
}

.spinner .text-field:focused{
    -fx-border-color: transparent!important;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button,
.combo-box-base .arrow-button,
.combo-box, .searchable-combo-box,
.text-field,
.choice-box,
.ccombo,
.label,
.cbutton {
    -fx-text-fill: -text-fill;
    -fx-font-size: 14pt;
}

.combo-box-base .arrow-button,
.combo-box, .searchable-combo-box,
.text-field,
.choice-box,
.ccombo {
    -fx-min-height: 45px;
    -fx-pref-height: 45px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button,
.combo-box-base .arrow-button,
.combo-box, .searchable-combo-box,
.text-field,
.choice-box,
.ccombo {
    -fx-background-color: transparent;

    -fx-min-height: 45px;
    -fx-pref-height: 45px;
    -fx-border-color: transparent;
}

.text-input{
    -fx-background-radius: 8px;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-border-radius: 0 8px 8px 0;
    -fx-background-radius: 0 8px 8px 0;
}

.spinner .text-field{
    -fx-border-radius: 8px 0 0 8px;
    -fx-background-radius: 8px 0 0 8px;
}

.underline-text-field{
    -fx-font-size: 12pt;
    -fx-background-color: transparent!important;
    -fx-border-width: 0 0 1 0!important;
    -fx-border-radius: 0!important;
    -fx-border-color: white;
    -fx-text-fill: -text-fill;
}

.underline-text-field:focused{
    -fx-border-color: -control-focused-border-fill;
}

.default-button{
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
    -fx-background-color: -button-fill;
    -fx-background-radius: 5px;
}

.transparent{
    -fx-background-color: transparent;
}

.circle-button{
    -fx-background-color: #25254064;
    -fx-background-radius: 50%!important;
    -fx-border-radius: 50%;
    -fx-border-color: #505070;
    -fx-text-fill: -text-fill;
    -fx-font-size: 15pt;
    -fx-padding: 16px;
}

.reset-button{
    -fx-background-image: url(../../images/refresh.png)!important;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

    -fx-pref-width: 64px;
    -fx-pref-height: 64px;
}

.save-button{
    -fx-background-image: url(../../images/save.png)!important;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

    -fx-pref-width: 64px;
    -fx-pref-height: 64px;
}

.progress-bar{

}

.progress-bar .bar{
    -fx-background-color: -progress-bar-fill;
    -fx-background-insets: 0;
    -fx-background-radius: 0 5px 5px 5px;
}

.progress-bar .track{
    -fx-background-color: -progress-track-fill;
    -fx-background-radius: 0 0 5px 5px;
    -fx-background-insets: 0;
}

.top-bar {
    -fx-background-color: -pane-fill;
    -fx-background-radius: 8px;
}

.cpaginator{
    -fx-padding: 8px;
    -fx-background-color: #2c2c2cde;
    -fx-spacing: 10px;

    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-border-color: #433e3e;
}

.cpaginator > .cbutton{
    -fx-font-weight: bolder;
    -fx-font-size: 18pt;
}

.cfilter-pane .filter-section{
    -fx-spacing: 8px;
}

.cfilter-pane .filter-section .filter-choices{
    -fx-spacing: 8px;
}

/*noinspection CssInvalidPseudoSelector*/
.cfilter-pane .filter-section .filter-choices:emchecked{
    -fx-spacing: 10px;
}


.cpaginator-list{
    -fx-max-width: 160px;
}

.cpaginator-list .scroll-bar:vertical{
    -fx-padding: 0 -6px 0 8px!important;
}

.cpaginator .button{
    -fx-background-color: transparent;
}


.progress-indicator .spinner{
    -fx-background-color: transparent!important;
}

.cpaginator .ccombo .text-field{
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-weight: bolder;
    -fx-font-size: 14pt;
    -fx-padding: 8px 0 0 0;
}

.toggle-switch {
    -thumb-move-animation-time: 100;
}

.toggle-switch .thumb {
    -fx-background-color: -toggle-thumb-fill;
    -fx-background-insets: 0;
}

.toggle-switch .thumb-area {
    -fx-background-color: -toggle-area-fill;
}

.toggle-switch:selected .thumb-area {
    -fx-background-color: -toggle-area-selected-fill;
}

.toggle-on{
    -fx-background-color: -button-fill;
}

.toggle-off{
    -fx-background-color: -control-fill-secondary;
}