@font-face {
    font-family: 'Rubik';
    src: url(../../fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
    font-family: 'Rubik';
    font-weight: bold;
    src: url(../../fonts/Rubik/Rubik-Bold.ttf);
}

*{
    -tab-fill: #151515aa;

    -dock-default-fill: #202020;

    -control-fill: #303033;
    -control-focused-border-fill: #5151bd;
    -control-fill-bluish: #1042497F;
    -control-fill-secondary: #232325aa;
    -dialog-overlay-fill: #232325dd;
    -control-popup-selected-fill: #6b93c8;
    -list-selected-fill: #282828ef;
    -control-popup-hover-fill: #50637c;
    -control-popup-fill: #333840dd; /*#353538dd*/
    -radio-fill: #262628;
    -radio-checked-fill: #3e5160; /*#58306a*/

    -button-fill: #333840;
    -list-background: #282828;
    -pane-fill: #282830;

    -scroll-thumb-fill: #264545AA;
    -slider-thumb-fill: #008080;
    -progress-track-fill: transparent;
    -progress-bar-fill: #007777;

    -toggle-area-fill: #232325aa;
    -toggle-area-selected-fill: #242426dd;
    -toggle-thumb-fill: #3e3e50;

    -fx-focused-mark-color: transparent;
    
    -text-fill: #ffffff;
    -fx-font-family: 'Rubik';
}

.root{
    -fx-background-color: transparent;
}

/* * * * * * * * * * * * * * * *

    Contextful Controls

* * * * * * * * * * * * * * * */

.searchable-combo-box .combo-box-popup .scroll-bar:vertical{
    -fx-padding: 0 -8px 0 12px;
}

.combo-box,
.ccombo{
    -fx-background-color: -control-fill;
    -fx-font-size: 12pt;
}

.combo-box .list-cell,
.ccombo .list-cell{
    -fx-border-width: 0;
}

.combo-box .text-input,
.ccombo .text-input{
    -fx-border-width: 0;
    -fx-text-fill: -text-fill;
}

.context-menu,
.combo-box-popup .list-view,
.ccombo-list {
    -fx-padding: 8px 16px 8px 8px;
}

.context-menu{
    -fx-background-color: -control-popup-fill;
    -fx-background-radius: 8px;
}

.context-menu .radio{
    -fx-opacity: 0;
}

.context-menu .menu-item,
.combo-box-popup .list-cell:filled,
.ccombo-list .list-cell:filled {
    -fx-background-radius: 8px;
    -fx-padding: 14px 4px 14px -4px;
    -fx-background-insets: 4px 0;
}

.cmenu{
    -fx-min-width: 120px;
    -fx-background-color: -control-popup-fill;
    -fx-background-radius: 16px;
    -fx-padding: 4px;
}

.cmenu .cmenu-item{
    -fx-background-color:transparent;
    -fx-font-size: 16pt;
    -fx-pref-height: 50px;
    -fx-padding: 4px 30px;
}

.combo-box-popup .list-cell:filled,
.ccombo-list .list-cell:filled{
    -fx-padding: 14px 20px;
}

.context-menu .menu-item:focused,
.combo-box-popup .list-cell:filled:focused {
    -fx-background-color: transparent;
}

.context-menu .menu-item:hover,
.combo-box-popup .list-cell:filled:hover,
.ccombo-list .list-cell:filled:hover{
    -fx-background-color: -control-popup-hover-fill;
}

/*noinspection CssInvalidPseudoSelector*/
.context-menu .menu-item:checked,
.combo-box-popup .list-cell:filled:selected,
.ccombo-list .list-cell:filled:selected {
    -fx-background-color: -control-popup-selected-fill;
}

.ccombo-list {
    -fx-background-radius: 8px;
}

.combo-box-popup .list-view{
    -fx-background-radius: 8px;
}

.combo-box-search:focused{
    -fx-border-width: 1px!important;
    -fx-border-style: solid!important;
}

.combo-box-popup .list-view,
.ccombo-list {
    -fx-background-color: -control-popup-fill;
    -fx-effect: none;
    -fx-vgap: 4px;
    -fx-font-size: 15pt;
}

/* * * * * * * * * * * * * * * *

    List Controls

* * * * * * * * * * * * * * * */


.cnav .cnav-button{
    -fx-font-size: 13pt;
    -fx-background-color: transparent;
}

.tab-pane *.pane{
    -fx-background-color: transparent;
}

.scroll-pane .corner{
    -fx-background-color: transparent!important;
}

.list-view{
    -fx-background-color: -list-background;
    -fx-background-radius: 10px;
    -fx-font-size: 12pt;
}

.list-view .list-cell:hover{
    -fx-opacity: 0.9;
}

.list-cell{
    -fx-background-color: none;
    -fx-text-fill: -text-fill;
}

.scroll-pane{
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar{
    -fx-background-color: transparent;
}

.scroll-bar:vertical{
    -fx-block-increment: 100!important;
    -fx-unit-increment: 100!important;
    -fx-padding: 0 0 0 12px;
}

.scroll-bar .thumb{
    -fx-background-color: -scroll-thumb-fill;
    -fx-pref-width: 4px!important;
    -fx-max-width: 4px;
}

.scroll-bar .decrement-button, .scroll-bar .increment-button{
    -fx-background-color: transparent;
}

/* * * * * * * * * * * * * * * *

    Controls

* * * * * * * * * * * * * * * */

.cdialog .dialog-content{
    -fx-background-color: -dialog-overlay-fill;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
    -fx-padding: 10px;
}

.dialog-pane .graphic-container {
    -fx-padding: 0; /* 10px 0px 0px 10px */
}

.dialog-pane{

}

.scroll-pane > .viewport{
    -fx-background-color: transparent;
}

.text-area{
    -fx-font-size: 13pt;
    -fx-wrap-text: true;
    -fx-background-color: transparent;
    -fx-text-fill: -text-fill;
}
.text-area *{
    -fx-background-color: transparent!important;
    -fx-cursor: normal;
}

.label{
    -fx-text-fill: -text-fill;
    -fx-font-size: 13pt;
}

.property-key{
    -fx-font-size: 16pt;
}

.radio-button{
    -fx-text-fill: -text-fill;
}

.radio-button .radio, .check-box .box{
    -fx-background-color: -radio-fill;
}

.radio-button:selected .dot/*, .check-box:selected .mark*/{
    -fx-background-color: -radio-checked-fill;
}

.check-box:selected .mark{
    -fx-shape: "M56.084,189.137c-1.735,0.897-3.807,1.012-5.891-1.071L2.651,139.517 c-4.204-4.291-3.225-9.943,1.648-13.462c6.228-4.498,14.555-11.83,21.582-22.55c3.291-5.026,7.995-5.363,11.248-0.315 l11.727,18.205c3.258,5.053,7.006,11.389,9.018,10.677c0.816-0.288,1.806-0.995,2.986-2.393L156.169,9.877 c3.742-4.699,9.023-4.194,11.803,1.131l27.054,51.894c2.779,5.325,1.235,12.695-3.448,16.459L69.1,177.786 C64.422,181.55,59.272,187.5,56.084,189.137z";
    -fx-background-color: -text-fill;
}

.check-box:selected .box{
    -fx-background-color: -radio-checked-fill;
}

.slider{
    -fx-font-size: 13pt;
}

.slider .track{
    -fx-background-color: -control-fill;
}

.slider .thumb{
    -fx-background-color: -slider-thumb-fill;
}

.slider .axis {
    -fx-tick-label-fill: -text-fill;
}

.cbutton{
    -fx-background-color: -button-fill;
    -fx-background-radius: 8px;
    -fx-padding: 10px 16px;
}

.text-field .context-menu{
    -fx-opacity: 0;
}

.selection-menu{
    -fx-background-color: -control-fill-bluish;
    -fx-background-radius: 8px;
}

.check-box{
    -fx-text-fill: -text-fill;
    -fx-font-size: 13pt;
}

.spinner{
    -fx-background-color: transparent;

}

.combo-box,
.searchable-combo-box,
.ccombo,
.field,
.text-field,
.choice-box,
.spinner{
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-background-color: -control-fill!important;
    -fx-border-color: transparent;
}

/*noinspection CssInvalidPseudoSelector*/
.combo-box:focused,
.combo-box-search:focused,
.ccombo:focused .text-field,
.field:focused,
.text-field:focused,
.choice-box:focused,
.ccombo:opened,
.spinner:focused{
    -fx-border-color: -control-focused-border-fill!important;
}

.spinner .text-field:focused{
    -fx-border-color: transparent!important;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button,
.combo-box-base .arrow-button,
.combo-box, .searchable-combo-box,
.text-field,
.choice-box,
.ccombo,
.label,
.cbutton {
    -fx-text-fill: -text-fill;
    -fx-font-size: 14pt;
}

.combo-box-base .arrow-button,
.combo-box, .searchable-combo-box,
.text-field,
.choice-box,
.ccombo {
    -fx-min-height: 45px;
    -fx-pref-height: 45px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button,
.combo-box-base .arrow-button,
.combo-box, .searchable-combo-box,
.text-field,
.choice-box,
.ccombo {
    -fx-background-color: transparent;

    -fx-min-height: 45px;
    -fx-pref-height: 45px;
    -fx-border-color: transparent;
}

.text-input{
    -fx-background-radius: 8px;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-border-radius: 0 8px 8px 0;
    -fx-background-radius: 0 8px 8px 0;
}

.spinner .text-field{
    -fx-border-radius: 8px 0 0 8px;
    -fx-background-radius: 8px 0 0 8px;
}

.underline-text-field{
    -fx-font-size: 12pt;
    -fx-background-color: transparent!important;
    -fx-border-width: 0 0 1 0!important;
    -fx-border-radius: 0!important;
    -fx-border-color: white;
    -fx-text-fill: -text-fill;
}

.underline-text-field:focused{
    -fx-border-color: -control-focused-border-fill;
}

.default-button{
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
    -fx-background-color: -button-fill;
    -fx-background-radius: 5px;
}

.transparent{
    -fx-background-color: transparent;
}

.circle-button{
    -fx-background-color: #25254064;
    -fx-background-radius: 50%!important;
    -fx-border-radius: 50%;
    -fx-border-color: #505070;
    -fx-text-fill: -text-fill;
    -fx-font-size: 15pt;
    -fx-padding: 16px;
}

.reset-button{
    -fx-background-image: url(../../images/refresh.png)!important;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

    -fx-pref-width: 64px;
    -fx-pref-height: 64px;
}

.save-button{
    -fx-background-image: url(../../images/save.png)!important;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

    -fx-pref-width: 64px;
    -fx-pref-height: 64px;
}

.progress-bar{

}

.progress-bar .bar{
    -fx-background-color: -progress-bar-fill;
    -fx-background-insets: 0;
    -fx-background-radius: 0 5px 5px 5px;
}

.progress-bar .track{
    -fx-background-color: -progress-track-fill;
    -fx-background-radius: 0 0 5px 5px;
    -fx-background-insets: 0;
}

.top-bar {
    -fx-background-color: -pane-fill;
    -fx-background-radius: 8px;
}

.cpaginator{
    -fx-padding: 8px;
    -fx-background-color: #2c2c2cde;
    -fx-spacing: 10px;

    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-border-color: #433e3e;
}

.cpaginator > .cbutton{
    -fx-font-weight: bolder;
    -fx-font-size: 18pt;
}

.cfilter-pane .filter-section{
    -fx-spacing: 8px;
}

.cfilter-pane .filter-section .filter-choices{
    -fx-spacing: 8px;
}

/*noinspection CssInvalidPseudoSelector*/
.cfilter-pane .filter-section .filter-choices:emchecked{
    -fx-spacing: 10px;
}


.cpaginator-list{
    -fx-max-width: 160px;
}

.cpaginator-list .scroll-bar:vertical{
    -fx-padding: 0 -6px 0 8px!important;
}

.cpaginator .button{
    -fx-background-color: transparent;
}


.progress-indicator .spinner{
    -fx-background-color: transparent!important;
}

.cpaginator .ccombo .text-field{
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-weight: bolder;
    -fx-font-size: 14pt;
    -fx-padding: 8px 0 0 0;
}

.toggle-switch {
    -thumb-move-animation-time: 100;
}

.toggle-switch .thumb {
    -fx-background-color: -toggle-thumb-fill;
    -fx-background-insets: 0;
}

.toggle-switch .thumb-area {
    -fx-background-color: -toggle-area-fill;
}

.toggle-switch:selected .thumb-area {
    -fx-background-color: -toggle-area-selected-fill;
}

.toggle-on{
    -fx-background-color: -button-fill;
}

.toggle-off{
    -fx-background-color: -control-fill-secondary;
}