.label{
    -fx-text-fill: white;
}

.rad-option {
    -fx-padding: 0 10px 0 10px;
}

.radio-button{
    -fx-text-fill: white;
}

.radio-button .radio, .check-box .box{
    -fx-background-color: #353538;
}

.radio-button:selected .dot, .check-box:selected .mark{
    -fx-background-color: darkviolet;
}

.slider .track{
    -fx-background-color: #353538;
}

.slider .thumb{
    -fx-background-color: teal;
}

.slider .axis {
    -fx-tick-label-fill: white;

}

.check-box{
    -fx-text-fill: white;
}

.spinner{
    -fx-background-color: transparent;
    -fx-border-radius: 3px;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button,
.combo-box-base .arrow-button,
.choice-box{
    -fx-background-color: #353538;
}

.text-field, .searchable-combo-box{
    -fx-text-fill: white;
    -fx-background-color: #353538;
    -fx-border-radius: 3px;
}

.context-menu{
    -fx-background-color: #303030!important;
}

.context-menu *{
    -fx-background-color: #303030!important;
}

.menu-item{
    -fx-background-color: #303030!important;
    -fx-text-fill: white!important;
}

.combo-box{
    -fx-border-radius: 3px;
}

    .combo-box .list-view{
        -fx-background-color: #383838;
    }

    .combo-box .list-cell{
        -fx-border-width: 0;
    }

    .combo-box .text-input{
        -fx-border-width: 0;
        -fx-text-fill: white;

    }



.combo-box:focused, .field:focused, .spinner:focused{
    -fx-border-color: teal;
}

.combo-box-popup .list-view
{
    -fx-background-color: #353535;
    -fx-effect: none;
}

.underline-field{
    -fx-font-size: 13pt;
    -fx-background-color: transparent!important;
    -fx-border-width: 0 0 1 0!important;
    -fx-border-radius: 0!important;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.separator{
    -fx-background-color: teal;
}

.circle-button{
    /*-fx-background-color: rgba(100,100,100, 0.3);*/
    -fx-background-color: #25254064;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-color: #505070;
    -fx-text-fill: white;
    -fx-font-size: 15pt;
}

.text-area{
    -fx-font-size: 10pt;
    -fx-wrap-text: true;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.text-area *{
    -fx-background-color: transparent!important;
    -fx-cursor: normal;
}

.def-button{
    -fx-font-size: 9pt;
    -fx-font-weight: bold;
    -fx-background-color: #333840;
    -fx-background-radius: 5px;
}