.radio-button{
    -fx-font-size: 14pt;
}

.label{
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

.text-field{
    -fx-font-size: 14pt;
}

.cbutton{
    -fx-font-size: 15pt;
}

#btnSelect{
    -fx-font-size: 18pt;
}

#spnMajor{
    -fx-pref-width: 120px;
    -fx-max-width: 120px;
}