#root{
    -fx-background-color: #252525f9;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
}

.message-box-button{
    -fx-font-size: 14pt;
    -fx-min-width: 64px;
}


#btnClose{
    -fx-background-color: transparent;
    -fx-font-size: 13pt;
}

#title{
    -fx-font-size: 18pt;
}

#content{
    -fx-font-size: 14pt;
}