.root{
    -fx-padding: 10px;
}

.radio-button{
    -fx-font-size: 13pt;
}

.title{
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
}

#lblProfileName{
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
}

#txtQuery{
    -fx-background-color: #262626aa;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 1.5px;
    -fx-font-size: 13pt;
}

#lvResources{
    -fx-background-color: #262626aa;
    -fx-fill-width: true;
}

#lblNotFound{
    -fx-font-size: 17pt;
}

.scroll-bar:horizontal{
    -fx-opacity: 0;
    -fx-pref-height: 0;
}

.scroll-pane, .scroll-bar{
    -fx-hbar-policy: never!important;
}

.clear-button{
    -fx-background-color: #252525;
}

.combo-box, .combo-box .arrow-button{
    -fx-background-color: #262626aa;
}

.filter-combo-choice{
    -fx-padding: 5px;
    -fx-background-radius: 8px;
    -fx-background-color: #05050505;
    -fx-spacing: 15px;
}