.root{
    -fx-padding: 16px;
    -fx-spacing: 16px;
}

.radio-button, .check-box{
    -fx-font-size: 16pt;
}

.filter-section .title{
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
}

.filter-section .filter-choices{
    -fx-spacing: 8px;
}

.filter-section{
    -fx-spacing: 16px!important;
}

/*noinspection CssInvalidPseudoSelector*/
.cfilter-pane .filter-section .filter-choices:emchecked{
    -fx-spacing: 8px;
    -fx-padding: -30px 0 0 0;
}

#lblProfileName{
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
}

#txtQuery{
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-font-size: 14pt;
}

#lvResources{
    -fx-background-color: -control-fill-secondary;
    -fx-fill-width: true;
    -fx-padding: 8px;

    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
}

#lvResources .list-cell{
    -fx-padding: 8px;
    -fx-background-insets: 8px, 0px;
}

#lblNotFound{
    -fx-font-size: 28pt;
}

.clear-button{
    -fx-background-image: url(../../images/delete.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: 36px;
    -fx-background-position: center;
    -fx-pref-width: 56px;
    -fx-pref-height: 56px;
}

#btnSearch{
    -fx-background-image: url(../../images/search.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 28px;
}

.filter-combo-choice{
    -fx-padding: 5px;
    -fx-background-radius: 8px;
    -fx-background-color: #00000010;
    -fx-spacing: 15px;
}