#txtQuery, #lvResources{
    -fx-background-color: -control-fill-secondary;
    -fx-background-radius: 10px;
}

.text-area .context-menu{
    -fx-opacity: 0;
}

.text-area *{
    -fx-cursor: text;
}

#lblStatus{
    -fx-font-size: 14pt;
}

#btnSearch{
    -fx-background-image: url(../../images/search.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 28px;
    -fx-pref-width: 48px;
    -fx-pref-height: 48px;
}