#lblProfileName{
    -fx-font-size: 22pt;
    -fx-font-weight: 700;
}

#lblGameVersion{
    -fx-font-size: 14pt;
}

#txtSearch{
    -fx-font-size: 16pt;
    -fx-pref-height: 54px;
    -fx-padding: 8px 16px;
}

#lblUsername{
    -fx-font-size: 13pt;
}

#scroll-view{
    -fx-background-color: transparent;
}

.header{
    -fx-font-size: 18pt;

}

.profile-button{
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-background-color: -control-fill-secondary;
    -fx-padding: 16px;
    -fx-pref-width: 72px;
    -fx-pref-height: 72px;

    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnMenu{
    -fx-font-size: 24pt;
    -fx-background-image: url(../../images/menu_mini.png);
}

#btnWorlds{
    -fx-background-image: url(../../images/world.png);
    -fx-padding: 16px 18px;
}

#btnAddResource{
    -fx-background-image: url(../../images/extension1.png);
    -fx-padding: 16px 18px;
}

#btnMultipleBrowser{
    -fx-background-image: url(../../images/search.png);
    -fx-padding: 16px 18px;
}