.property-key{
    -fx-font-weight: bold;
}

.radio-button{
    -fx-padding: 10px 0 0 0;
}

.text-field .context-menu, #cbGameVersion .context-menu{
    -fx-opacity: 0;
}

.underline-text-field{
    -fx-font-size: 25pt;
}

.game-version{
    -fx-font-size: 12pt;
    -fx-text-fill: aquamarine;
    -fx-font-weight: bold;
}

#btnSave{
    -fx-background-image: url(../../images/save.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}