.list-view{
    -fx-background-color: -control-fill-secondary!important;
    -fx-padding: 10px;
}

.panel{
    -fx-background-color: -control-fill-secondary;
    -fx-background-radius: 16px;
    -fx-padding: 16px;
}

#lvWorlds{
    -fx-background-radius: 16px;
}

.list-cell{
    -fx-background-radius: 8px;
    -fx-alignment: center;
    -fx-font-size: 16pt;
}

.list-cell:selected{
    -fx-background-color: -list-selected-fill;
}

#lblLevelName{
    -fx-font-size: 25pt;
    -fx-font-weight: bold;
}

#lblSpawn,#lblSeed,#lblDirName{
    -fx-cursor: hand;
}

.prop-label{
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-font-size: 16pt;
}

.prop-label:hover{
    -fx-background-color: #252525;
}

.prop{
    -fx-padding: 10px;
    /*-fx-background-color: #354545;*/
    -fx-background-color: #203030aa;
    -fx-background-radius: 10px;
    -fx-font-size: 13pt;
}

#btnBackup{
    -shape: -shape-backup;
    -shape-width: 64px;
    -shape-height: 28px;
}

#btnDelete{
    -shape: -shape-trash;
    -shape-width: 64px;
    -shape-height: 36px;
}

#btnImport{
    -shape: -shape-import;
    -shape-width: 64px;
    -shape-height: 64px;
}

#btnCancelExport{
    -shape: -shape-cancel;
    -shape-width: 24px;
    -shape-height: 24px;
}