*{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

body{
    background-color: #202020;
    padding: 0;
    margin: 0;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.flex-xcenter{
    display: flex;
    align-items: center;
}

.flex-ycenter{
    display: flex;
    justify-content: center;
}

button, a{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    /*background-color: #005a48cc;*/
    background: #33b2b533;
    backdrop-filter: blur(20px);
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15pt;
    outline: none;
}

button:hover, a:hover{
    transition: all 0.3s;
    backdrop-filter: blur(0px);
    background: #33b2b544;
}

a{
    text-decoration: none;
}

.display-sec{
    height: 100vh;
}

    .display-sec .one{
        height: 85vh;
        background-color: #252727;
    }

    .display-sec .two{
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: start;
        background: #151515;
    }

        .display-sec .two h1{
            margin: 0 0 0 20px;
            font-size: 20pt;
        }

@keyframes test {
    0%{
        background-position: 0% 50%;
    }
    
    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

.head-sec .precious-pane h1{
    font-size: 25pt;

    background: -webkit-linear-gradient(45deg, white, wheat, violet, teal, darkviolet);
    background-size: 400% 400%;
    -webkit-background-size: 400% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    cursor: default;
}

.head-sec .one{
    background-image: url('../images/test.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
}

.head-sec .two h1{
    width: 50%;
    
}

.head-sec .two{
    width: 100%;
    display: flex;
}

.head-sec .two .badges{
    width: 50%;
    display: inline-flex;
    align-items: end;
    justify-content: end;
    margin-right: 20px;

}

.head-sec .two .badges img{
    width: 60px;
    height: 60px;
    margin: 0 8px 0 8px;
    background: none;
    border: none;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 0 #000;
}

.head-sec .two > img{
    margin-left: 20px;
    margin-right: 20px;
}

.head-sec .two .badges img:hover{
    transition: all 0.5s;
}

.head-sec .precious-pane{
    background-color: #000000bb;
    padding: 30px;
    border-radius: 20px;
    /*box-shadow: 0 0 8px 8px #278c8d44;*/
    box-shadow: 0 0 8px 8px #e1e5e544;
}

.head-sec .precious-pane h1:hover{
    animation: 3s test, infinite;

    background-position: 0% 50%;
}

.logo{
    border-radius: 50%;
    box-shadow: 5px 5px 5px 0 #000;
    width: 80px;
    height: 80px;
}