.option{
    -fx-background-color: #404040;
    -fx-background-radius: 5px;
    -fx-font-size: 12pt;
}

#lblName{
    -fx-font-size: 13pt;
}

#lblAuthor{
    -fx-font-size: 8pt;
}
.all{
    -fx-background-color: #252525;
}