.all{
    -fx-background-color: #252525;
}

.java-version{
    -fx-font-size: 12pt;
}

.underline-field{
    -fx-font-size: 12pt!important;
}

.list-view{
    -fx-background-color: #282828;
}

.add-button{
    -fx-font-size: 11pt;
}
.context-menu{
    -fx-opacity: 0;
}