.progress-bar{
    -fx-background-color: transparent;
}

.label{
    -fx-text-fill: white;
}

.progress-bar > .track{
    -fx-background-color: #303030;
}

.progress-bar > .bar{
    -fx-background-color: aqua;
}

.progress-indicator{
    -fx-progress-color: teal;
}

.progress-indicator .indicator{
    -fx-padding: 0;
}

.progress-indicator .percentage{
    -fx-fill: none;
}

.progress-indicator .tick{
    -fx-background-color: none;
}

.text-field{
    -fx-background-color: #303030;
    -fx-text-fill: white;
}

.launch-bar{
    -fx-background-color: #252540;
    -fx-background-radius: 0 15px 15px 0;
}

.progress-indicator{
    -fx-padding: 0;
}

.play-button{
    -fx-background-radius: 50%;
    -fx-background-color: teal;
    -fx-font-size: 15pt;
}

.ench-button{
    -fx-font-size: 15pt;
}

.detailed-s{
    -fx-font-size: 10pt;
    -fx-wrap-text: true;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
    .detailed-s *{
        -fx-background-color: transparent!important;
        -fx-cursor: normal;
    }