.all{
    -fx-background-color: #202020;
}

.list-view{
    -fx-background-color: #323232!important;
    -fx-background-radius: 5px!important;
}

    .list-view .list-cell{
        -fx-padding: 10;
    }

.text-field .context-menu{
    -fx-opacity: 0;
}

.opt-button{
    -fx-font-size: 9pt;
    -fx-font-weight: bold;
    -fx-background-color: #333840;
    -fx-background-radius: 5px;
    -fx-max-height: 99999999999999!important;
}

.x{
    -fx-background-color: red!important;
}