.all{
    -fx-background-color: #252525;
}


.combo-box-base{
    -fx-background-color: transparent;
}

.prop-key{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}

.radio-button{
    -fx-padding: 10px 0 0 0;
}

.op-button{
    -fx-padding: 5px 10px 5px 10px;
    -fx-background-color: #403840;
    -fx-font-size: 12pt;
    -fx-background-radius: 10px;
}

.java-sel{
    -fx-background-color: transparent!important;
}

.game-version{
    -fx-font-size: 12pt;
    -fx-text-fill: aquamarine;
    -fx-font-weight: bold;
}