#root{
    -fx-background-color: #232323aa;
    -fx-background-radius: 16px;
    -fx-padding: 16px;
}

.cbutton{
    -fx-background-radius: 50%;
    -fx-font-weight: bolder;
    -fx-pref-width: 84px;
    -fx-pref-height: 84px;
}

.cbutton:hover{
    -fx-background-color: #101010aa;
}

#btnInstall{
    -fx-font-size: 40pt;
}

/*noinspection CssInvalidPseudoSelector*/
#btnInstall:installed{
    -fx-font-size: 28pt;
}

#btnMore{
    -fx-font-size: 18pt;
}

#btnMore {
    -fx-alignment: center;
    -fx-padding: -5px 0 0 0;
}

#lblName{
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
    -fx-background-color: #202020;
    -fx-background-radius: 8px;
    -fx-padding: 5px;
}

#lblAuthor{
    -fx-font-size: 12pt;
    -fx-padding: 0 0 0 5px;
}

#txtDesc{
    -fx-font-size: 10pt;
}

#lblCategory{
    -fx-font-size: 10pt;
    -fx-padding: 0 0 0 10px;
}

#lblName:hover{
    -fx-background-color: #303a3a;
}